.dashboard-page {
  height: 100%;
  background-color: lighten($color-tert-orange, 25%);
}
.profile-container {
  @include global-module($color-global-white, $color-pri-slate);
  margin: 0;
  padding: 0.5em 0;
  h2 { font-size: 1em; }
}
.nav-container {
  background-color: $color-tert-orange;

  .config-container {
    @include global-module($color-pri-slate, $color-tert-orange);
    height: 3.5em;
    letter-spacing: 3px;

    .config-item {
      background-color: lighten($color-tert-orange, 15%);
      font-family: 'Josefin Sans';
      font-size: 1em;
      font-weight: 700;
      text-align: center;
      height: 100%;
      margin: 0;
      padding: 1.2rem 0 0 0;
      letter-spacing: 1px;
      &:hover {
        background-color: lighten($color-tert-orange, 25%);
      }
    }

    .btn {
      @include btn($color-sec-orange, none, false);
      font-weight: 700;
    }
  }
}

.drop-container {
  @include global-module($color-pri-orange, inherit);
  padding: 3em 0;
}

.user-form {
  @include form;
  padding-top: 1em;
  input {
    height: 2.5em;
    margin-right: 0;
  }
  button {
    @include btn($color-sec-orange, none, false);
    font-weight: 700;
    padding: 1.2em 0;
    margin-top: 1em;
  }
}

.updateBtn {
  @include btn($color-sec-orange, none, false);
  padding: 1.2em 0;
  font-weight: 700;
}

.config-border { border-bottom: 1px solid $color-sec-slate !important; }

.logo-container {
  @include img-background('/images/main_logo_dashboard.svg')
  height: 140px;
}
.config-editor {
  background-color: $color-pri-slate;
  #widgetBank {
    @include global-module($color-global-white, $color-pri-slate);
  }
}

.nav-label {
  background-color: lighten($color-tert-orange, 10%);
  &:hover {
    background-color: lighten($color-tert-orange, 15%);
  }
}

.edit-widget-form-something {
  label {
    text-align: left;  
    margin-top: 10px;
  }
  input {
    margin-top: 10px;
  }
}


.widgetSel {
  background-color: black;
  color: white;
  font-family: $type-header;
  min-height: 2em;
  height: auto;
  margin-bottom: 5px;
}

.widgetBtn {
  @include btn($color-sec-slate, none, false); 
  padding: 1em 0;
  margin: .5em 0;
}

.widgetLabel {
  font-family: $type-header;
  font-size: .8em;
  padding: 5px;
  margin: 5px;
}

.row {
  img {
    height: 30px;
    width: auto;
    margin: 1.1em 0;
  }
  .widget-label {
    padding-top: 1.1em;
    text-align: left;
    vertical-align: center;
    font-family: $type-header;
    font-size: 1.2em;
  }
}
