.dashboard-page{
	position: absolute;
	height: 100%;
	width: 100%;
}
.profile-container{
	height: 200px;
	width: 300px;
	border-right: 1px solid rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	position: relative;
	top: 0px;
	left: 0px;
}

.config-container {
    position: relative;
    height: calc(100% - 200px);
    left: 0px;
    width: 300px;
    border-right: 1px solid rgba(0,0,0,0.4);
    

	.config-item{
		position: relative;
		height: 100px;
		width: 100%;
		background: lightblue;
		border-bottom: 1px solid rgba(0,0,0,0.4);
	}
}


.config-editor {
	height: 500px;
	width: 500px;
	position: absolute;
	left: 300px;
	top: 0px;
	float: left;
	border: 1px solid lightgrey;
}