@mixin global-module($color, $background: '') {
  @if $background { background-color: $background; }
  color: $color;
  text-align: center;
  h1, h2, h3 {
    font-family: $type-body, Arial;
    font-weight: 700;
  }
  p, label {
    font-family: $type-header, sans-serif;
  }
}

@mixin form {
  input {
    height: 1.75em;
    font-size: 1em;
    padding: 0.4em 0.7em;
    border: 2px solid $color-tert-orange;
    color: lighten($color-sec-slate, 30%);
  }
}

@mixin btn($background, $border-color: none, $rounded: false) {
  background-color: $background;
  @if $border-color != none { border: 2px solid $border-color; }
  font-family: $type-header;
  font-size: 1em;
  line-height: 1;
  padding: 0.5em 1.5em;
  margin: 1em 0;
  @if $rounded == true {
    border-radius: 5px;
  }
  &:hover {
    background-color: lighten($background, 25%);
  }
}
