// Color Scheme
$color-pri-yellow: #EEAD1E;
$color-sec-yellow: #000000;

$color-pri-slate: #2A2A2A;
$color-sec-slate: #3F3F3F;

$color-global-white: #FFFFFF;

// Typography
$type-header: 'Noto Sans';
$type-body: 'Josefin Sans';
