// Color Scheme
$color-pri-orange: #EEAD1E;
$color-sec-orange: #FFA325;
$color-tert-orange: #FBBB1C;

$color-pri-slate: #2A2A2A;
$color-sec-slate: #3F3F3F;

$color-global-white: #FFFFFF;

// Typography
$type-header: 'Josefin Sans';
$type-body: 'Arvo';
