<section data-ng-init="getConfig()" class="dashboard-page row">

	<bdi class="col-md-4">
		<section class="profile-container col-xs-12">
			<h1>Greetings, Sir / Madam</h1>
		</section>

		<section class="col-xs-12">
			<article class="config-container row middle-xs" data-ng-repeat="config in configs" data-ng-click="editConfig(config)">
				<a data-ng-click="logout()" class="config-item col-xs-6">LOGOUT</a>
				<a data-ng-click="getConfig()" class="config-item col-xs-6">{{ config.name }}</a>
			</article>
		</section>
	</bdi>

	<section data-ng-if="state.editing" class="config-editor col-md-8">
		{{currentConfig.name}}
		<form data-ng-submit="updateConfig(currentConfig)">
			<label>First Item</label>
			<select name="item1" data-ng-model="currentConfig.modules[0]">
				<option value="weather" selected>Weather</option>
				<option value="date">Date</option>
				<option value="greet">Greet</option>
			</select>
			<label>Second Item</label>
			<select name="item1" data-ng-model="currentConfig.modules[1]">
				<option value="weather" selected>Weather</option>
				<option value="date">Date</option>
				<option value="greet">Greet</option>
			</select>
			<label>Third Item</label>
			<select name="item1" data-ng-model="currentConfig.modules[2]">
				<option value="weather" selected>Weather</option>
				<option value="date">Date</option>
				<option value="greet">Greet</option>
			</select>
			<input type="submit">
		</form>
	</section>
</section>
