<section data-ng-init="getConfig()" class="row">

	<section class="config-container col-md-3">
		<button class="message" data-ng-click="logout()">Logout</button>
		<article class="config-item" data-ng-repeat="config in configs" data-ng-click="editConfig(config)">
			{{config.name}}
		</article>
	</section>

	<section data-ng-if="state.editing" class="config-editor col-md-9">
	{{currentConfig.name}}
		<form data-ng-submit="updateConfig(currentConfig)">
			<label>First Item</label>
			<select name="item1" data-ng-model="currentConfig.modules[0]">
				<option value="weather" selected>Weather</option>
				<option value="date">Date</option>
				<option value="greet">Greet</option>
			</select>


			<label>Second Item</label>
			<select name="item1" data-ng-model="currentConfig.modules[1]">
				<option value="weather" selected>Weather</option>
				<option value="date">Date</option>
				<option value="greet">Greet</option>
			</select>


			<label>Third Item</label>
			<select name="item1" data-ng-model="currentConfig.modules[2]">
				<option value="weather" selected>Weather</option>
				<option value="date">Date</option>
				<option value="greet">Greet</option>
			</select>
			<input type="submit">
		</form>
	</section>
</section>
